frontend/node_modules
frontend/.pnp
frontend.pnp.js
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend.DS_Store
frontend*.pem
frontendnpm-debug.log*
frontendyarn-debug.log*
frontendyarn-error.log*
frontend.env*.local
frontend.vercel
frontend*.tsbuildinfo
frontendnext-env.d.ts
